- hosts: jenkins_master
  become: yes
  tasks:
    - name: Ensure default Ubuntu sources
      copy:
        content: |
          deb http://archive.ubuntu.com/ubuntu/ jammy main restricted universe multiverse
          deb http://archive.ubuntu.com/ubuntu/ jammy-updates main restricted universe multiverse
          deb http://archive.ubuntu.com/ubuntu/ jammy-security main restricted universe multiverse
          deb http://archive.ubuntu.com/ubuntu/ jammy-backports main restricted universe multiverse
        dest: /etc/apt/sources.list
        owner: root
        group: root
        mode: '0644'
    - name: Clean apt cache
      command: apt clean
    - name: Restore Ubuntu apt key
      apt_key:
        keyserver: keyserver.ubuntu.com
        id: 871920D1991BC93C
        state: present
    - name: Update apt cache
      apt: update_cache=yes
    - name: Install Java 17
      apt: name=openjdk-17-jdk state=present
    - name: Remove conflicting Java versions
      apt: name={{ item }} state=absent
      loop:
        - openjdk-8-jdk
        - openjdk-11-jdk
    - name: Remove old Jenkins repo
      file:
        path: /etc/apt/sources.list.d/jenkins.list
        state: absent
    - name: Remove old Jenkins key
      file:
        path: /usr/share/keyrings/jenkins-keyring.gpg
        state: absent
    - name: Remove legacy Jenkins key
      file:
        path: /etc/apt/trusted.gpg.d/jenkins.gpg
        state: absent
    - name: Add Jenkins apt key

